/* google fonts */
:root{
    --header-height:3rem;
    --nav-width:61px;

    /* Colors */
    --first-color: #7276e100;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    
    /* font and typography */
    --body-font: 'open sans', sans-serif;
    --normal-font-size:1rem;

    /* Z index */
    --z-fixed:100;    
}
    /* Base   */
    *,::before,::after{
        box-sizing:border-box;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: "Montserrat", sans-serif;
    }

    body{
        position:relative;
        margin:var(--header-height) 0 0 0;
        padding:0 1rem;
        font-family: var(--body-font);
        font-size:var(--normal-font-size);
        transition:.5s;
    }

    a{
        text-decoration:none;
        font-family: "open sans",sans-serif;
    }
    a:hover{
        text-decoration: none;
    }

    /* Header */
    .header{
        width: 100%;
        height:var(--header-height);
        position:fixed;
        top:0;
        left:0;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:0 1rem;
        background-color: #ffffff00;
        z-index:var(--z-fixed);
        transition:.5s;
    }

    .header__toggle{
        color:var(--first-color);
        font-size: 1.5rem;
        cursor:pointer;
    }

    .header__img{
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
      }
      
      .header__img img{
        width: 40px;
      }

    /* Nav */
    .l-navbar{
        position: fixed;
        top:0;
        left:-60%;
        width: var(--nav-width);
        height:100vh;
        background-color: var(--first-color);
        padding: 7rem 1rem 0 0;
        transition:.5s;
        z-index: var(--z-fixed);
    }

    .nav{
        height:100%;
        display:flex;
        flex-direction: column;

        overflow:hidden;
    }

    .nav__logo, .nav__link{
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        column-gap: 1rem;
        padding:.5rem 0 .5rem 1.5rem;
    }

    .nav__logo{
        margin-bottom: 2rem;     
    }

    .nav__logo:hover{
        text-decoration: none;     
    }

    .nav__logo-icon{
        width:6px;
    }

    .nav__logo-name{
        color:var(--white-color);
        font-weight: 700;
    }

    .nav__link{
        position: relative;
        color:var(--first-color-light);
        margin-bottom: 1.5rem;
        transition:.3s;
    }
    
    .nav__link:hover{
        color:var(--white-color); 
        text-decoration: none;
    }

    .nav__icon{
        font-size: 1.25rem;
    }
    

    /* Show navbar mobile */
    .show{
        left:0;
    }

    /* Add padding to body mobile */
    .body-pd{
        padding-left: calc(var(--nav-width) + 1rem);
    }

    .body{
        background-image: url(/assets/img/iphone2.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size:cover;
    }

    /* Active links */
    .active{
        color:var(--white-color);
    }

    .active::before{
        content:'';
        position: absolute;
        left: 4px;
        width: 2px;
        height: 32px;
        background-color: var(--white-color);
    }

    /* Media Queries */
    @media screen and (min-width: 768px){
        body{
          margin: calc(var(--header-height) + 1rem) 0 0 0;
          padding-left: calc(var(--nav-width) + 2rem);
        }
      
        .header{
          height: calc(var(--header-height) + 1rem);
          padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
        }
      
        .header__img{
          width: 40px;
          height: 40px;
        }
      
        .header__img img{
          width: 45px;
        }

        .header_toggle{
            color:#ffffff;
            font-size:18px;            
        }
      
        .l-navbar{
          left: 0;
          padding: 7rem 1rem 0 0;
        }
        
        /*Show navbar desktop*/
        .show{
          width: calc(var(--nav-width) + 156px);
        }
      
        /*Add padding body desktop*/
        .body-pd{
          padding-left: calc(var(--nav-width) + 188px);
        }
      }

      /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    /* height: 70vh; */
    margin-top: 60px;
    position: relative;
    overflow:hidden;
    background-image:url(/assets/img/home1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 100px;
    font-weight: 800;
    /* line-height: 56px; */
    color:#fafafa;
  }

  #hero p{
      font-size:12px;
      font-weight:600;
      padding-right: 85px;
      color:#fafafa;
  }
   
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
      height:80vh;
    }
  }
  
  @media (max-width: 991px) {
    #hero {
      height: 100vh;
    }
  @media (max-width: 768px) {
    #hero {
      margin-top: 20px;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
}

/* Hero Social Links */
.social-links a{
    font-family: "open sans",sans-serif;
    font-size:20px;
    font-weight:200;
    color:#ffffff;
    transition:all .5s ease-out;
}

.social-links a:hover{
    font-family: "open sans",sans-serif;
    color:var(--first-color-light);
    text-decoration: none;
}

/* Hero Scroll indicators */
.scroll-indicator p{
    padding-right:0 !important;
    position:absolute;
    top:470px;
    right:4%;
}

.scroll-link span{
    transition: all .4s ease-in;
    padding-left:0px
}

.scroll-link:hover span{
    transition: all .4s ease-out;
    padding-left:5px;
}


/* ==============================================
                Slide animation
============================================== */
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .slider {
    background: #7478e6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 1000;
  }
  
  .intro-text {
    color: rgb(233, 233, 233);
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
  }
  
  .hide {
    background: black;
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }
